*{
  margin: 0;
}
.ant-spin-dot-item {
  background-color: #fff;
}
/* bigger screen */
@media (min-width: 700px){
   .Maindiv{
     display: flex;
   }
   .commentSection{
    overflow-y: auto;
    margin-left: 5px;
   }
}

/* smaller screen */
@media (max-width: 700px){
  .Maindiv{
    display: block;
  }
}